body{background: url("../images/countries.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}

.container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2%;
    margin-bottom: 2%;
}


.paginate-section {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 200px; /* aumentamos la distancia para colocar los botones debajo de las cards */
  }