

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,900;1,600&family=Roboto:wght@500&display=swap');


body {
    font-family: 'Poppins', sans-serif;
 
  }

.navbar {
  
  background-color: rgb(12, 3, 20);
    opacity: 0.5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

}

  
  .navbarMenu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .navbarItem {
    margin-left: 1rem;
  }
  
  .navbarItem:first-child {
    margin-left: 0;
  }
  
  .navbarItem a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .navbarItem a:hover {
    color: red;
  }
  
  .navbarItemLeft {
    margin-right: auto;
  }
  
  .navbarItemRight {
    margin-left:500% ;
  }

