
.verticalNav {
    background-color: rgb(12, 3, 20);
    opacity: 0.5;
    float: left;
    width: 180px; /* ajusta el ancho según tus necesidades */
    height: 1100px;
    margin-right: 20px; /* opcional, para separar el componente del resto del contenido */
  }